@import "~bootstrap/dist/css/bootstrap.css";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

nav {
  .navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

a.btn {
  font-size: 1.6rem;
}

.btn-primary, .btn-primary:focus, .btn-primary:active {
  background-color: hsl(290, 67%, 42%);
  border-color: hsl(290, 67%, 52%) !important;
  outline: none;
}

.btn-primary:focus, .btn-primary:hover {
  box-shadow: 0 0 0 0.2rem rgba(155, 35, 179, .25)
}

.btn-primary:hover {
  background-color: hsl(290, 67%, 32%);
}

footer {
  margin-bottom: 60px;
}

.aside-img{
  height: 200px;
  display: block;
  margin: auto;
}