
.hero {
  background-color: hsl(290, 67%, 42%);
  height: 100px;
  color: hsl(0, 0%, 100%);
}

.homepage {
  margin-top: 60px;
  h2{
    font-size: 2.4rem;
  }

  article{
    margin-bottom: 60px;
  }
}