<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://img.icons8.com/color/48/000000/process--v1.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            Blog
        </nav>
        {% block body %}{% endblock %}
        <footer>
            <a href="https://icons8.com/icon/13460/php">Process icon by Icons8</a>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
